@import "https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  background-color: #fafafa;
}

div {
  position: relative;
}

h1, h2, h3, h4, h5, h6, p, a, input, textarea, button {
  color: #252525;
  font-family: 'NanumSquare', sans-serif;
  letter-spacing: -.05rem;
}

.ant-input-prefix {
  margin-right: 7px !important;
} 

.layout {
  width: 100%;
  max-width: 600px;
  height: auto;
  margin: 0 auto;
}

.right-nav {
  position: absolute;
  vertical-align: middle;
  top: 0;
  right: 0;
}

.layout-inner {
  display: flex;
  padding: 20px 0;
}

.layout-main {
  width: 100%;
  height: auto;
  padding: 0 10px;
}

.ui-card {
  border: 1px solid #eee;
  border-radius: 10px;
  background-color: #fff;
}
